@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.page{
  height: 100vh;
  transition: background 0.3s;
}
.main_container{
  margin: 5px auto;
  width: 70%;
  max-width: 740px;
  min-width: 300px;
}