.summaryTop{
    height: 55%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 18px;
    font-size: 0.85em;
    align-items: center;
    transition: 0.3s;
}
.summaryBottom{
    padding: 18px;
    height: 45%;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: 0.3s;
}